<div class='bug'>
	<p>Textual version that can be included in a bug:</p>
	<pre>
A regression/improvement was reported on AWFY:
- slave: {{modal.machine}}
- mode: {{modal.mode}}

Regression(s)/Improvement(s):
<span ng-repeat="score in modal.scores"><span ng-if="!score.noise">- {{score.suite}}<span ng-if="score.suitetest">: {{score.suitetest}}</span>: {{score.percent}}% ({{score.regression ? 'regression' : 'improvement'}})<br></span></span>
Recorded range:
<span ng-if="modal.prev_cset!=''">- http:{{modal.range_url}}</span>

More details: https://arewefastyet.com/regressions/#/regression/{{modal.id}}
    </pre>

</div>
	
