<div class='bug'>
	<p>Textual version that can be included in a bug:</p>
	<pre>
AWFY detected a regression/improvement on:
- slave: {{modal.machine}}
- mode: {{modal.mode}}

Regression(s)/Improvement(s):
<span ng-repeat="score in modal.scores"><span ng-if="!score.noise">- {{score.suite}}: {{score.percent}}% ({{score.regression ? 'regression' : 'improvement'}})<br></span></span>
Recorded range:
<span ng-if="modal.prev_cset!=''">- http://hg.mozilla.org/integration/mozilla-inbound/pushloghtml?fromchange={{modal.prev_cset}}&tochange={{modal.cset}}</span>

More details: http://arewefastyet.com/regressions/#/regression/{{modal.id}}
    </pre>

</div>
	
