<div class='regression'>
  <div class='subheader'>
    <div class='button' ng-repeat="software in softwares">
      <div class='title'>{{software.name}}</div>
      <div class='result'>Base</div>
    </div>
    <div class='button' ng-if='hasSuite'>
      <a class='up' ng-href='#/machine/{{machineId}}'></a>
    </div>
  </div>

  <h2>Compare state before @{{regression.id}} with tip</h2>

  <div class='details'>
  	<table>
	<tr class='machine'><th>Machine</th><td>{{regression.machine}}</td></tr>
    <tr class='mode'><th>Mode</th><td>{{regression.mode}}</td></tr>
    <tr class='stamp'><th>Date</th><td>{{regression.stamp | date:'dd MMM yy HH:mm'}}</td></tr>
  	<tr class='status'>
		<th>Status</th>
		<td>
				{{regression.status}}
		</td>
	</tr>
  	<tr class='bug'>
	  <th>Bug</th>
	  <td>
		  <span ng-if="regression.bug!=0">
		    <a ng-href="https://bugzilla.mozilla.org/show_bug.cgi?id={{regression.bug}}">
		      #{{regression.bug}}
			</a>
		  </span>
		  <span ng-if="regression.bug==0">-
          </span>
	  </td>
	</tr>
    <tr class='finished'><th>Detection finished</th><td>
		<span ng-if="regression.detector!=0">Yes</span>
		<span ng-if="regression.detector==0">No (new regression might still get detected in the future.)</span>
    </td></tr>
  	</table>
  </div>

  <div class='box scores'>
    <div class='header'>
  	Detected regressions/improvements
    </div>
    <div class='content'>
	  <div class='percent' style='color:black;'>Now</div>
      <p style='color:black;'><u>Regressions</u></p>
      <div ng-repeat="score in regression.scores | orderBy:'suiteversion + suitetest'"
		   class='regression' ng-if='score.regression&&!score.noise'>
  		  <div class='suite'>
		  	{{score.suiteversion}}
		  	<span ng-if="score.suitetest">:
		  		{{score.suitetest}}
		  	</span>
          </div>
          <div class='percent'
			   ng-class="{regression: score.bad, improvement: score.good}"
		  >
            {{score.now}}
          </div>
			
  		  <div class='score' ng-click="showRegression(regression, score)"
          >
		  	{{score.prev_score}} to {{score.score}}
		  </div>
        </span>
      </div>
      <p style='color:black;'><u>Improvements</u></p>
      <div ng-repeat="score in regression.scores | orderBy:'suiteversion + suitetest'"
		   class='regression' ng-if='!score.regression&&!score.noise'>
  		  <div class='suite'>
		  	{{score.suiteversion}}
		  	<span ng-if="score.suitetest">:
		  		{{score.suitetest}}
		  	</span>
          </div>
          <div class='percent'>
            {{score.now}}
          </div>
			
  		  <div class='score' ng-click="showRegression(regression, score)">
		  	{{score.prev_score}} to {{score.score}}
		  </div>
        </span>
      </div>
    </div>
  </div>

</div>
