<div class='overview'>
  <div class='subheader'>
    <div class='button' ng-repeat="software in softwares">
      <div class='title'>{{software.name}}</div>
      <div class='result'>Base</div>
    </div>
    <div class='button' ng-if='hasSuite'>
      <a class='up' ng-href='#/machine/{{machineId}}'></a>
    </div>
  </div>

  <div class='subnav'>
     <a ng-href="#/notTriaged">
      Not triaged
      <span ng-if="triaged_no">({{triaged_no}})</span>
     </a> /
     <a ng-href="#/open">Open</a> / 
     <a ng-href="#/improvements">Improvements</a> / 
     <a ng-click="advancedSearch()">Advanced search</a>
  </div>

  <h2>Regressions</h2>

  <div ng-if="advanced" class='box'>
    <div class='content'>
      <b>Modes: </b>
      <label ng-repeat="(id, mode) in master.modes">
        <input
          type="checkbox"
          ng-model="mode.selected"
        >
        {{mode.name}}
      </label><br>
      <b>Machines: </b>
      <label ng-repeat="(id, machine) in master.machines">
        <input
          type="checkbox"
          ng-model="machine.selected"
        >
        {{machine.description}}
      </label><br>
      <b>Status: </b>
      <label ng-repeat="state in availablestates">
        <input
          type="checkbox"
          ng-model="state.selected"
        >
        {{state.name}}
      </label></br>
      <b>Bug: </b>
      <label>
        <input
          type="text"
          ng-model="bug"
        >
      </label></br>
      <input type='button' value='Search' class='button_submit' ng-click="search()">
    </div>
  </div>

  <h3 ng-if='title'>{{title}}</h3>

  <div>
    <a ng-repeat="bug in bugs" class='box' ng-href='#/open/{{bug.bug}}'>
      <div class='header'>
        <span ng-if="bug.bug != 0">Bug {{bug.bug}}</span>
        <span ng-if="bug.bug == 0">No bug</span>
      </div>
	  <div class='content'>
      <div ng-repeat="regression in bug.items">
          {{regression.stamp | date:'dd MMM yy HH:mm'}} -
          {{regression.machine}} -
          {{regression.mode}}
      </div>
	  </div>
    </a>
  </div>

</div>

<div ng-controller="ffIconCtrl"></div>
