<div class='overview'>
  <div class='subheader'>
    <div class='button' ng-repeat="software in softwares">
      <div class='title'>{{software.name}}</div>
      <div class='result'>Base</div>
    </div>
    <div class='button' ng-if='hasSuite'>
      <a class='up' ng-href='#/machine/{{machineId}}'></a>
    </div>
  </div>

  <div class='subnav'>
     <a ng-href="#/notTriaged">
      Not triaged
      <span ng-if="triaged_no">({{triaged_no}})</span>
	 </a> /
	 <a ng-href="#/open">Open</a> / 
	 <a ng-href="#/improvements">Improvements</a> / 
     <a ng-click="advancedSearch()">Advanced search</a>
  </div>

  <h2>Regressions</h2>

  <div ng-if="advanced" class='box'>
	<div class='content'>
	  <b>Modes: </b>
	  <label ng-repeat="(id, mode) in master.modes">
	    <input
	  	type="checkbox"
	  	ng-model="mode.selected"
	    >
        {{mode.name}}
	  </label><br>
	  <b>Machines: </b>
	  <label ng-repeat="(id, machine) in master.machines">
	    <input
	  	type="checkbox"
	  	ng-model="machine.selected"
	    >
        {{machine.description}}
	  </label><br>
	  <b>Status: </b>
	  <label ng-repeat="state in availablestates">
	    <input
	  	type="checkbox"
	  	ng-model="state.selected"
	    >
        {{state.name}}
	  </label></br>
	  <input type='button' value='Search' class='button_submit' ng-click="search()">
    </div>
  </div>

<pagination total-items="items" ng-model="currentPage" class="pagination-sm" boundary-links="true" rotate="false" ng-change="fetchPage()"></pagination>

  <div>
    <a class='box regression' ng-repeat="regression in regressions" ng-click="open(regression.id)"
       ng-href='#/regression/{{regression.id}}'>
	  <div class='header'>
        <div class='machine'>{{regression.machine}}</div>
        <div class='mode'>{{regression.mode}}</div>
        <div class='stamp'>{{regression.stamp | date:'dd MMM yy HH:mm'}}</div>
      </div>
      <div class='content'>
        <div ng-repeat="score in regression.scores | orderBy:'-age'" class='regression'>
          <span ng-if="!(score.noise*1)">
			<div class='suite'>{{score.suiteversion}}<span ng-if="score.suitetest">:
				{{score.suitetest}}</span>
		    </div>
			<div class='percent' ng-class="(score.regression) ? 'regression' : 'improvement'">
				{{score.percent}} %
			</div>
			<div class='score'>{{score.prev_score}} to {{score.score}}</div>
          </span>
        </div>
      </div>
      <div class='footer'>
        <!--
        <span class='bug' ng-if="regression.bug!=0">
			#{{regression.bug}}
		</span>
        -->
        <span class='status'>Status: 
			<span class='status'>{{regression.status}}</span>
			<span ng-if='regression.status_extra'>: {{regression.status_extra}}</span>
		</span>
      </div>
    </a>
  </div>

<pagination total-items="items" ng-model="currentPage" class="pagination-sm" boundary-links="true" rotate="false" ng-change="fetchPage()"></pagination>

</div>

<div ng-controller="ffIconCtrl"></div>
