<div class='status'>
	<table>
	<tr ng-if="currentUser!=undefined">
    <td></td>
    <td>
		{{currentUser}}
	</td>
	<td>
      <select ng-model="modal.status" ng-options="status.name for status in availablestates"></select>
	</td>
	<td>
	  <input type='text' ng-model="modal.extra" class='input_extra'>
	  <input type='button' value='Adjust' class='button_submit' ng-click="modal.submit(modal)">
    </td>
    </tr>

	<tr ng-repeat="status in modal.states">
		<td class='stamp'>{{status.stamp | date:'dd MMM yy HH:mm'}}</td>
		<td class='name'>{{status.name}}</td>
		<td class='status'>{{status.status}}</td>
		<td class='extra'>{{status.extra}}</td>
	</tr>
	</table>
</div>
