$_accent: #42637B;
$_mediumaccent: #39556A;
$_darkaccent: #000000;
$_white: #FFFFFF;
$_grey: #E6E6E6;
$_darkgrey: #222222;
$_red: #D12600;
$_green: #2F7836;
$_orange: #F39C32;

$_box: 
  bg $_white,
  border #DDDDDD,
  color $_darkgrey,
  header #F2F2F2
;
