*.pyc
*~
*.swp
*.tmp
*.bak
*.lo

*.o
*.a
*.so
*.so.*

benchmarks/asmjs-ubench/run-*
benchmarks/asmjs-apps/**/run-*
benchmarks/asmjs-apps/build-bullet
benchmarks/asmjs-apps/lua/src/lua
benchmarks/asmjs-apps/lua/src/luac
benchmarks/asmjs-apps/zlib/Makefile
benchmarks/asmjs-apps/zlib/example
benchmarks/asmjs-apps/zlib/example64
benchmarks/asmjs-apps/zlib/examplesh
benchmarks/asmjs-apps/zlib/minigzip
benchmarks/asmjs-apps/zlib/minigzip64
benchmarks/asmjs-apps/zlib/minigzipsh

driver/awfy.config
slave/awfy.config
slave/results
slave/profile
**/*-results/

output/
