body {
 background-color:#FFF;
 font:.6875em Verdana, sans-serif;
 color:#000;
}
a {
 color:#000;
 text-decoration:underline;
}
a:hover {
 text-decoration:none;
}
h1 {
 font-size:2.265em;
 font-weight:700;
}

.graph {
 width: 555px;
 height: 340px;
}
.graph-row {
 text-align: center;
}
.graph-container {
 width: 600px;
 height: 340px;
 display: inline-block;
}

