/***************************************/
/* Icon dimensions are calculated with
/* $unit, so they will also scale when
/* $unit is changed. But at the default
/* 6px unit, the small icon should be 16px
/* and the medium icon should be 32px.
/* (Because else the icons become fusy)
/* So therefor calculate the dimensions
/***************************************/

$_icon_font: "iMinds-icons";
$_icon_small: $unit * 16/6;
$_icon_medium: $unit * 32/6;