

@mixin minimal-select() {
  margin-left: $unit;
  margin-right: $unit;

  select, input, div {
    -moz-appearance: toolbox;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    display: inline-block;
    vertical-align: middle;
    padding-right: $unit*3;

    &::-ms-expand {
      display: none;
    }
  }

  &:after {
    position: absolute;
    content: "\e114";
    display: inline-block;
    vertical-align: middle;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 0.5em;
    height: 2.0em;
    margin-left: -$unit*2;
    line-height: 2.0em;
    pointer-events: none
  }
}


