[main]
slaveType = android
repos = /Users/mozilla/awfy/repos
tmpDir= /tmp/
timeout = 3 ; in minutes
serverURL = http://192.168.0.212:8000/

machine = 27
updateURL = http://server2.arewefastyet.com/???

[engines]
list = mozilla, chrome

[benchmarks]
dir = /Users/mozilla/awfy/benchmarks
browserList = benchmark.local.octane,
              benchmark.local.sunspider,
              benchmark.local.kraken,
              benchmark.local.webglsamples
shellList = 

[mozilla]
nightlyDir = http://archive.mozilla.org/pub/mozilla.org/mobile/tinderbox-builds/mozilla-inbound-android-api-11/

[chrome]
buildInfoUrl = http://build.chromium.org/p/chromium.lkgr/builders/Android
nightlyDir = http://commondatastorage.googleapis.com/chromium-browser-continuous/Android/
