[main]
slaveType = mac-desktop
repos = /Users/mozilla/awfy/repos
tmpDir= /tmp/
timeout = 20 ; in minutes
serverURL = http://localhost:8000/

machine = 16
updateURL = http://www.arewefastyet.com/???

[engines]
list = mozilla,chrome,webkit

[benchmarks]
dir = /Users/mozilla/awfy/benchmarks
browserList = benchmark.remote.octane,
              benchmark.remote.massive,
              benchmark.remote.jetstream,
              benchmark.remote.speedometer,
              benchmark.remote.kraken,
              benchmark.remote.sunspider,
              benchmark.remote.browsermark
shellList = 

[mozilla]
nightlyDir = http://archive.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-inbound-macosx64/

[chrome]
buildInfoUrl = http://build.chromium.org/p/chromium.lkgr/builders/Mac
nightlyDir = http://commondatastorage.googleapis.com/chromium-browser-continuous/Mac/

[webkit]
buildInfoUrl = http://nightly.webkit.org/
nightlyDir = http://builds.nightly.webkit.org/files/trunk/mac/
