[main]
slaveType = windows-desktop
repos = /Users/mozilla/awfy/repos
tmpDir= C:\Users\mozilla\Desktop\tmp\
timeout = 20 ; in minutes
serverURL = http://localhost:8000

machine = 17
updateURL = http://www.arewefastyet.com/???

[engines]
list = mozilla,chrome,mozillapgo,mozillashell

[benchmarks]
dir = C:\cygwin\home\mozilla\arewefastyet\benchmarks 
browserList = benchmark.local.octane,
              benchmark.local.kraken,
              benchmark.local.sunspider,
              benchmark.local.webglsamples,
              benchmark.remote.dromaeo,
              benchmark.local.assorteddom
shellList = benchmark.shell.octane,
            benchmark.shell.kraken,
            benchmark.shell.sunspider 

[mozilla]
nightlyDir = http://archive.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-inbound-win32/
pgoDir = http://archive.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/mozilla-inbound-win32-pgo/

[chrome]
buildInfoUrl = http://build.chromium.org/p/chromium.lkgr/builders/Win
nightlyDir = http://commondatastorage.googleapis.com/chromium-browser-continuous/Win/
