[main]
slaveType = mac-desktop
repos = /Users/mozilla/awfy/repos
benchmarks = /Users/mozilla/awfy/benchmarks
tmpDir= /tmp/
timeout = 20 ; in minutes
serverURL = http://localhost:8000/

machine = 16
updateURL = http://www.arewefastyet.com/???

[mozilla]
nightlyDir = http://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/b2g-inbound-macosx64/

[chrome]
buildInfoUrl = http://build.chromium.org/p/chromium.lkgr/builders/Mac
nightlyDir = http://commondatastorage.googleapis.com/chromium-browser-continuous/Mac/

[webkit]
buildInfoUrl = http://nightly.webkit.org/
nightlyDir = http://builds.nightly.webkit.org/files/trunk/mac/
