
header {
  background-color: $_accent;
  color: $_white;

  -webkit-box-shadow: 0px 0px 15px 0px $_darkaccent;
  -moz-box-shadow: 0px 0px 15px 0px $_darkaccent;
  box-shadow: 0px 0px 15px 0px $_darkaccent;

  .container {
    display: table;
  }

  select {
    color: $_white;
    background-color: $_accent;
  }

  #machines, #types, #dates {
    @include minimal-select;
  } 

  #dates:after {
    //temporary
    display: none;
  }

  div {
    display: inline-block;
  } 

  h1 {
    position: relative;
    text-transform: uppercase;
    font-size: $unit*3;

    body.ff &:after {
      background-image: url("../img/firefox.png");
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: 0px -35px;
      width: 250px;
      top: -15px;
      bottom: -15px;
      content: "";
      display: block;
      left: -180px;
      position: absolute;
    }
  }

  h1, .rightSide {
    display: table-cell;
    vertical-align: middle
  }

  .rightSide {
    text-align: right;
  }

  .query {
    margin-right: $unit*4;
  }

  a {
    text-decoration: none;
    color: $_lightgrey;
  }

  a:hover {
    text-decoration: none;
    color: $_white;
  }
}

.subheader {
  float: right;
  vertical-align: bottom;
  text-align: right;

  .container {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .history {
    color: get($_box, color); 
    text-decoration: none;
   
    &:before {
      display: inline-block;
      vertical-align: middle;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      margin-left: $unit;
      margin-right: $unit;
      content: "\e023";
    }
  }

  .up {
    color: get($_box, color); 
    text-decoration: none;
   
    &:before {
      display: inline-block;
      vertical-align: middle;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      margin-left: $unit;
      margin-right: $unit;
      content: "\e113";
    }
  }

  .button {
    background-color: get($_box, header);
    border: 1px SOLID get($_box, border);
    padding: $unit*2 $unit*3;
    display: inline-block;
    color: get($_box, color); 
    margin-left: $unit*2;
    margin-right: $unit*2;

    &:last-child {
      margin-right: 0px;
    }

    .title, .result {
      display: inline-block;
    }

    .title {
      text-transform: uppercase;
      font-size: $unit*2.5;
    }

    .result {
      color: get($_box, color);
      font-weight: bold;

      &:before {
        display: inline-block;
        vertical-align: middle;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        margin-left: $unit;
        margin-right: $unit;
        content: "\2212";
        color: mix($_orange, $_darkaccent, 75%);
      }
      
      &.bad:before {
        content: "\e114";
        color: $_red;
      }

      &.good:before {
        content: "\e113";
        color: $_green;
      }
    }
  }
}
