html, body {
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 15px;
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.modal {
	@import "../modal/main";
}

.overview {
	@import "overview";
}
