.subnav {
	float: right;
    line-height: $unit*8;
	a {
		cursor: pointer;
	}
}

.regression {
  cursor: pointer;
  display: block;

  .title {
    text-transform: uppercase;
    margin-top: 0.4em;
  }

  .stamp {
    display: block;
    font-size: $unit*2;
  }

  .footer {
	padding-top: $unit*2;
	padding-bottom: $unit;

    .status .status {
		text-transform: uppercase;
	}

	.bug {
		float: right;

		.edit {
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			margin-left: $unit;
			margin-right: $unit;
		}
    }
  }
}
