.details table {
  width: 900px;
  border: 1px SOLID get($_box, border);
  background-color: get($_box, header);
  color: get($_box, color);
  padding: $unit;
  margin-right: 2%;
  margin-bottom: $unit*5;

  td {
    background-color: get($_box, bg);
    padding: $unit;
  }

  th {
	text-align: left;
  }

  .status td {
    text-transform: uppercase;
  }

  .edit {
  	font-family: 'Glyphicons Halflings';
  	font-style: normal;
  	font-weight: normal;
  	margin-left: $unit;
  	margin-right: $unit;
	float:right;
	cursor:pointer;
  }

}

.link {
  text-decoration: underline; 
  cursor: pointer;
}

.status {

  td {
    padding-left: $unit;
    padding-right: $unit;
  }

  .stamp, .name {
    white-space: nowrap;
  }

  .extra {

    input[type=text] {
      width:85%;
	}

    width: 75%;
  }
}

.range {

  iframe {
    width: 100%;
    height: 750px;
  }
}

.add {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  margin-left: $unit;
  margin-right: $unit;
  float:right;
  cursor:pointer;
}

.scores {

  .score {
	cursor: pointer;
    position: relative;
  }

  .score.editNoise {
    margin-left: 25px;
  }

  .txt {
    float: right;
    padding-top: $unit;
    padding-bottom: $unit*2;
    margin-right: $unit;
  }
}
