[main]
repos = /Users/hannesverschore/awfy/x64/repos
benchmarks = /Users/hannesverschore/awfy/x64/benchmarks
cpu = x64
machine = 29
updateURL = http://www.arewefastyet.com/?????

[native]
cc = /Users/hannesverschore/awfy/clang-3.3/bin/clang
cxx = /Users/hannesverschore/awfy/clang-3.3/bin/clang++
options = -O2
mode = clang

[v8]
source = v8
cc = /Users/hannesverschore/awfy/clang-3.3/bin/clang
cxx = /Users/hannesverschore/awfy/clang-3.3/bin/clang++
cpp = /Users/hannesverschore/awfy/clang-3.3/bin/clang -E
link = /Users/hannesverschore/awfy/clang-3.3/bin/clang++
cc_host = /Users/hannesverschore/awfy/clang-3.3/bin/clang
cxx_host = /Users/hannesverschore/awfy/clang-3.3/bin/clang++
cpp_host = /Users/hannesverschore/awfy/clang-3.3/bin/clang -E
link_host = /Users/hannesverschore/awfy/clang-3.3/bin/clang++

[jsc]
source = WebKit

[jsci]
source = InterpKit

[mi]
source = mozilla-inbound
conf = CC="/Users/hannesverschore/awfy/clang-3.3/bin/clang" CXX="/Users/hannesverschore/awfy/clang-3.3/bin/clang++" AR=ar ../configure --enable-optimize --disable-debug --enable-threadsafe --disable-intl-api --without-intl-api
