[main]
testroot = /Users/mozilla/awfy
cpu = x64
machine = 4
updateURL = http://www.arewefastyet.com/????

# for chromebooks:
#flags = hardfp

[v8]
source = v8

[jsc]
source = WebKit

# For later ubuntu releases...
#conf = --gtk

# For earlier ubuntu releases...
#conf = --efl 

[jsci]
source = InterpKit

[mi]
source = mozilla-inbound
conf = CC="ccache cc" CXX="ccache g++" ../configure --enable-optimize --disable-debug --enable-threadsafe --with-system-nspr --with-nspr-prefix=/usr/local

[bc]
source = ionmonkey
conf = CC="ccache cc" CXX="ccache g++" ../configure --enable-optimize --disable-debug --enable-threadsafe --with-system-nspr --with-nspr-prefix=/usr/local

