[main]
repos = /Users/mozilla/awfy/ia32/repos
benchmarks = /Users/mozilla/awfy/ia32/benchmarks
cpu = x86
machine = 11
updateURL = http://www.arewefastyet.com/????

[native]
cc = /Users/mozilla/awfy/clang-3.3/bin/clang
cxx = /Users/mozilla/awfy/clang-3.3/bin/clang++
options = -O2 -m32
mode = clang

[v8]
source = v8
cc = /Users/mozilla/awfy/clang-3.3/bin/clang
cxx = /Users/mozilla/awfy/clang-3.3/bin/clang++
cpp = /Users/mozilla/awfy/clang-3.3/bin/clang -E
link = /Users/mozilla/awfy/clang-3.3/bin/clang++
cc_host = /Users/mozilla/awfy/clang-3.3/bin/clang
cxx_host = /Users/mozilla/awfy/clang-3.3/bin/clang++
cpp_host = /Users/mozilla/awfy/clang-3.3/bin/clang -E
link_host = /Users/mozilla/awfy/clang-3.3/bin/clang++

[jsc]
source = WebKit

[jsci]
source = InterpKit

[mi]
source = mozilla-inbound
conf = CC="/Users/mozilla/awfy/clang-3.3/bin/clang -m32" CXX="/Users/mozilla/awfy/clang-3.3/bin/clang++ -m32" AR=ar CROSS_COMPILE=1 ../configure --enable-optimize --disable-debug --enable-threadsafe --disable-intl-api --without-intl-api --target=i686-apple-darwin10.0.0
