# I am a systemd .service file, to run awfy as a service!
# you'll want to copy this file to /etc/systemd/system/awfy.service, then you can start it once via
# systemctl start awfy.service
# or enable it at boottime via
# systemctl enable awfy.service
# Logs will be avialible via
# journalctl /home/awfy/arewefastyet/driver/dostuff.py
# or
# systemctl  status awfy

[Unit]
Description="Run awfy"

[Service]

# The path to the executable *must* be hardcoded.  You can use a relative path for config, given we're setting WorkingDirectory below.
ExecStart=/home/awfy/arewefastyet/driver/dostuff.py --config=/home/awfy/arewefastyet/driver/awfy.config

# username may vary
User=awfy

# systemd gives a very clean environment.  You may not need to set PATH, but I needed to because arch
# defaults to python3, so there is a symlink to python2 in /home/awfy/bin
# the build process gets /very/ annoyed if SHELL is undefined
Environment=PATH=/home/awfy/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin SHELL=/bin/bash

# Probably not needed
WorkingDirectory=/home/awfy/arewefastyet/driver

# You can also change this to onsuccess, it may be bad if dostuff.py fails quickly.
Restart=always

[Install]
WantedBy=multi-user.target
