.box {
  border-collapse: separate;

  .regression {
    .percent {
      float: right;
      font-size: 1.4em;
      margin-top: -0.2em;
    }

    .regression {
      color: $_red;
    }

    .improvement {
      color: $_green;
    }


    .suite {
      float: left;
      position: absolute;
    }

    .score {
      text-align: center;
      height: 1.8em;
    }
  }
}

.details table {
  width: 900px;
  border: 1px SOLID get($_box, border);
  background-color: get($_box, header);
  color: get($_box, color);
  padding: $unit;
  margin-right: 2%;
  margin-bottom: $unit*5;
  border-collapse: separate;

  td {
    background-color: get($_box, bg);
    padding: $unit;
  }

  th {
	text-align: left;
  }

  .status td {
    text-transform: uppercase;
  }

  .edit {
  	font-family: 'Glyphicons Halflings';
  	font-style: normal;
  	font-weight: normal;
  	margin-left: $unit;
  	margin-right: $unit;
	float:right;
	cursor:pointer;
  }
}

