/* vim: set ts=4 sw=4 tw=99 et: */

#navbar
{
    margin: 0;
    display: inline;
}

#navbar li
{
    line-height: 20px;
}

#navbar > li
{
    /* float: left; */
    list-style: none;
    margin-bottom: 1em;
    border: 1px solid transparent;
    text-align: right;
    width: 70px;
    padding-right: 5px;
}

#navbar li a
{
    display: block;
    margin: 0 10px;
    text-decoration: none;
    width: 70px;
    color: #000000;
    white-space: nowrap;
}

#navbar li.active
{
    background: #F2F2F2;
    cursor: pointer;
}

#navbar li.active ul
{
    visibility: visible;
}

#navbar li ul
{
    border-right: 1px outset black;
    border-bottom: 1px outset black;
    margin-top: -21px; // == line-height + border height
    margin-left: 75px; // == parent width + parent padding
    padding: 0;
    position: absolute;
    visibility: hidden;
    background: #F2F2F2;
    z-index: 0;
}

#navbar li ul li
{
    float: none;
    display: inline;
    text-align: left;
    margin: 0;
    padding: 0;
}

#navbar li ul li a
{
    width: auto;
}

#navbar li ul li a:hover
{
    text-decoration:underline;
}

