body {
 background-color:#FFF;
 font:.6875em Verdana, sans-serif;
 color:#000;
}
a {
 color:#000;
 text-decoration:underline;
}
a:hover {
 text-decoration:none;
}
h1 {
 font-size:2.265em;
 font-weight:700;
}

.graph {
 width: 555px;
 height: 340px;
 margin-bottom:2em;
}
.graph-row {
 text-align: center;
}
.graph-container {
 width: 600px;
 height: 340px;
 display: inline-block;
}

.tooltip {
 -moz-border-radius:.5em;
 -webkit-border-radius:.5em;
 border-radius: .5em;
 background-color:#000;
 color:#FFF;
 display:none;
 opacity:0.8;
 padding:.25em;
 position:absolute;
}
.tooltip a:link, .tooltip a:active, .tooltip a:visited {
 color:#FFF;
 text-decoration: underline;
}
.tooltip a:hover {
 color:#FFF;
 text-decoration: none;
}

.closeable {
 padding: 15px;
 opacity: 1.0;
 text-align: left;
 padding-top: 8px;
}

.closeButton {
 color:#CCC;
 font-family: monospace;
 cursor: pointer;
 float: right;
}

.tiptext {
 background: #222;
 -moz-border-radius:.5em;
 -webkit-border-radius:.5em;
 border-radius: .5em;
 padding: 10px;
 clear: both;
}

#navcontainer {
 padding-top: 360px;
 display: inline;
 position: absolute;
 margin-left: -20px;
 left: 0;
}

.menu {
 text-align: left;
 list-style-type: none;
}

.menu li a {
 text-decoration: none;
}

.menu li a:hover {
 text-decoration: underline;
}

#legend {
 text-align: left;
 list-style-type: none;
}

#legend li {
 border-left: 1.2em solid #FFF;
 margin-right: 2em;
 padding-left: .3em;
 margin-bottom: .2em;
 font-size: 1.2em;
}

#about {
 display: none;
 margin-left: 250px;
 width: 700px;
}

#breakdown {
 display: none;
 margin-left: 250px;
 width: 700px;
}

.clicked {
 font-weight: bold;
}

.inactive {
 color: #aaaaaa;
}

#message {
  font-style: italic;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 0.9em;
}

.yaxisLabel {
	top: 50%;
	left: 2px;
	margin: -25px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.ie7 .yaxisLabel, .ie8 .yaxisLabel {
	top: 40%;
	font-size: 1.1em;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.0, M12=0.33, M21=-0.33, M22=0.0,sizingMethod='auto expand');
}

