html {
    overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.container.content {
  position: relative;
  padding-top: 0px;

  body.ff &:after {
    position: absolute;
    content: "";
    display: block;
    top: -260px;
    left: -130px;
    background-image: url("../img/tail.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 500px;
    height: 900px;
    transform: rotate(-35deg);
    z-index: -1;
  }

  h2 {

    font-weight: normal;
    font-size: $unit*3;

    .machine {
      select {
	    vertical-align: top;
        -moz-appearance: none;
        -webkit-appearance: none;
        text-overflow: '';
        &::-ms-expand {
          display: none;
        }

        background-color: inherit;
        border: 0px;
        padding-top: $unit*3;
        padding-bottom: $unit*6;
        display: inline-block;
        color: #222;
        padding-right: $unit*3 + 18;
		font-weight: bold;
        min-width: 300px;
		font-size: $unit*2.6;
      }

	  option {
		font-weight: normal;
		font-size: $unit*2.5;
	  }

      &:after {
        position: absolute;
        content: "\e114";
        display: inline-block;
        vertical-align: middle;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
		font-size: $unit*2.6;
        margin-left: -$unit*2 - 18px;
        pointer-events: none;
        padding-top: $unit*3 + 2px;
        padding-bottom: $unit*6;
      }
    }

    .extra {
        line-height:75px;
	}
    a {
      color: #000000;
      text-decoration: none;
    }

  } 

  #dates {
     color: $_darkgrey;
	 margin-top: -$unit*9;
	 margin-bottom: $unit*6;
     margin-left: 3px;
	 font-style: italic;
 	 font-size: $unit*2.6;
  }
}

