
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url($icon-font-path + $icon-font-name + '.eot');
  src: url($icon-font-path + $icon-font-name + '.eot?#iefix') format('embedded-opentype'),
  url($icon-font-path + $icon-font-name + '.woff') format('woff'),
  url($icon-font-path + $icon-font-name + '.ttf') format('truetype'),
  url($icon-font-path + $icon-font-name + '.svg') format('svg');
}

body {
  font-family: lato;
  background-color: $_grey;
}